<!DOCTYPE html>
<html class="no-js">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title> LifeTracker a template by Themefisher </title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
        
        <!-- Fonts -->
 



        <!-- CSS -->

        <%= stylesheet_link_tag :media => "all" %>
        <link href="../../assets/stylesheets/animate.css"  media="screen" rel="stylesheets" type="text/css" />
        <link href="../../assets/stylesheets/application.css"  media="screen" rel="stylesheets" type="text/css" />
        <link href="../../assets/stylesheets/bootstrap.min.css"  media="screen" rel="stylesheets" type="text/css" />
        <link href="../../assets/stylesheets/font-awesome.min.css"  media="screen" rel="stylesheets" type="text/css" />
        <link href="../../assets/stylesheets/home.scss"  media="screen" rel="stylesheets" type="text/css" />
        <link href="../../assets/stylesheets/main.css"  media="screen" rel="stylesheets" type="text/css" />
        <link href="../../assets/stylesheets/owl.carousel.css"  media="screen" rel="stylesheets" type="text/css" />
        <link href="../../assets/stylesheets/owl.theme.css"  media="screen" rel="stylesheets" type="text/css" />
        <link href="../../assets/stylesheets/responsive.css"  media="screen" rel="stylesheets" type="text/css" />
        

        <!-- Js -->
        <script type="text/javascript" src="../../assets/vendor/modernizr-2.6.2.min.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="../../assets/vendor/jquery-1.10.2.min.js"><\/script>')</script>
        <script type="text/javascript" src="../../assets/bootstrap.min.js"></script>
        <script type="text/javascript" src="../../assets/owl.carousel.min.js"></script>
        <script type="text/javascript" src="../../assets/wow.min.js"></script>
        <script type="text/javascript" src="../../assets/main.js"></script>
        <script>
         new WOW(
            ).init();
        </script>

    </head>
    <body>
    <nav class="navbar navbar-default navbar-custom navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html"><%= image_tag 'flogo.png' %></a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="#">Home</a>
                    </li>
                    <li>
                        <a href="#about">About</a>
                    </li>
                    <li>
                        <a href="#Sponsors">Sponsors</a>
                    </li>
                    <li>
                        <a href="#contact">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
    


    <header>
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-6">
                    <div class="app-showcase wow fadeInDown" data-wow-delay=".5s">
                        <%= image_tag 'iphone.png' %>
                    </div>
                    
                </div>
                <div class="col-md-6 col-sm-6">
                    <div class="block wow fadeInRight" data-wow-delay="1s">

                        <h2>멋쟁이 사자처럼 X 건양대학교</h2>
                        
                        <div class="download-btn">
                            <a href="#" class="andriod">
                                <%= link_to image_tag("likelion-button.png"), "http://www.likelion.net/" %>
                            </a>
                            <a href="#" class="apple">
                                <%= link_to image_tag("konyang-button.png"), "http://www.konyang.ac.kr" %>
                            </a>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </header>

    


    

    <br>
    <br>
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="title wow pulse" data-wow-delay=".5s">
                        <font face="HY견고딕"><h2>컴퓨터를 전혀 모르는 <u>대학생</u>들이<br> 내가 만들고 싶은 <u>IT서비스</u>를<br><br> <u>직접</u> 배워서<br> <u>직접</u> 런칭한다<br><br> 단 <u>90일</u>만에</h2></font>
                        
                    </div>
                </div>
            </div>
            <br>
            <br>
            <div class="row">
                <div class="col-md-4 col-sm-4">
                    <div class="block wow fadeInLeft" data-wow-delay=".7s">
                        <%= image_tag 'calender.png' %>
                        <h3>STUDY</h3>
                        <p>
                            HTML/CSS부터 jQuery까지의 Front-end, Ruby on Rails와 같은 Web Framework를 공부합니다. 
                        </p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4">
                    <div class="block wow fadeInLeft" data-wow-delay=".8s">
                        <%= image_tag 'clock.png' %>
                        <h3>SERVICE</h3>
                        <p>
                            평소에 "이런 IT 서비스를 꼭 만들어 보고 싶었다." 라고 생각했던 것들을 본인이 직접 구현합니다.
                        </p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4">
                    <div class="block wow fadeInLeft" data-wow-delay="1.1s">
                        <%= image_tag 'user.png' %>
                        <h3>NETWORK</h3>
                        <p>
                            나와 비슷한 생각을 가진 대학교 친구들을 만날 수 있습니다.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <br>
    <br>
    <br>
    <br>


    <section id="showcase">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="block text-center wow fadeInUp" data-wow-delay=".5s">
                        <%= image_tag 'showcase-img.png' %>
                    </div>
                </div>
            </div>
        </div>
    </section>



<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
    <section id="Sponsors">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="title wow pulse" data-wow-delay=".5s">
                        <h2>멋쟁이사자처럼을 후원하시는 멋진 분들</h2>
                        <p>
                            S P O N S O R S
                        </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <div class="container">
                        <div class="media wow fadeInDown" data-wow-delay=".5s" align= "center">
                            <%= link_to image_tag("google.png"), "https://www.google.com" %>
                            <div class="container">
                                <br>
                                <h4 class="media-heading">Google</h4>
                                
                            </div>
                        </div>
                        <div class="media wow fadeInDown" data-wow-delay=".8s" align= "center">
                            <%= link_to image_tag("aws.png"), "https://aws.amazon.com/ko/" %>
                            <div class="media-body">
                                <br>
                                <h4 class="media-heading">Amazon Web Services</h4>
                                
                            </div>
                        </div>
                        <div class="media wow fadeInDown" data-wow-delay="1.1s" align= "center">
                            <%= link_to image_tag("fuse.png"), "https://www.fusetools.com/" %>
                            <div class="media-body">
                                <br>
                                <h4 class="media-heading">Fuse</h4>
                                
                            </div> 
                        </div>
                        
                        <div class="media wow fadeInDown" data-wow-delay="1.4s" align= "center">
                            <%= link_to image_tag("jss.png"), "http://jasoseol.com/" %>
                            <div class="media-body">
                                <br>
                                <h4 class="media-heading">자소설닷컴</h4>
                                
                            </div>
                        </div>
                    </div>
                    
                </div>

                
            </div>
        </div>
    </section>
    <br>
    <br>
    <br>

    <section id="testimonial">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="block">
                        <div id="owl-example" class="owl-carousel">
                            <div> 
                                <h5>
                                    급변하는 세상에서 바뀌지 않는 한가지 "컴퓨터는 중요하다" <span>이두희 4기OT 中</span>

                                </h5>

                            </div>
                            <div>
                                <h5>
                                    컴퓨터 프로그래밍은 "배워서 써먹는데" 목적이 있다.  <span>이두희 4기OT 中</span>

                                </h5>
                            </div>
                            <div> 
                                <h5>
                                    이 말들이 멋있다고 생각하면 "지원"  <span>멋사@건양대학교 5기 운영진</span>
                                </h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>



    <section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="title wow pulse" data-wow-delay=".5s">
                        <h2>멋쟁이 4기처럼</h2>
                        <p>
                            멋사4기 멋쟁이들을 소개합니다.
                        </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 col-sm-12">
                    <div class="media wow fadeInUp" data-wow-delay=".7s">
                        <div class="media-object pull-left"><%= image_tag 'a.jpg' %></div>
                        <div class="media-body">
                            <h4 class="media-heading">강형민</h4>
                            <p>정보보호학과 / 11학번</p>
                            <p class="social-link">
                                <%= link_to image_tag("facebook.png"), "https://www.facebook.com/hmkang123" %>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-12">
                    <div class="media wow fadeInUp" data-wow-delay="1.1s">
                        <div class="media-object pull-left"><%= image_tag 'b.png' %></div>
                        <div class="media-body">
                            <h4 class="media-heading">김태영</h4>
                            <p>의공학부 / 16학번</p>
                            <p class="social-link">
                                <%= link_to image_tag("facebook.png"), "http://www.facebook.com/tayo5712" %> (군대감)
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-12">
                    <div class="media wow fadeInUp" data-wow-delay="1.4s">
                        <div class="media-object pull-left"><%= image_tag 'c.jpg' %></div>
                        <div class="media-body">
                            <h4 class="media-heading">임우석</h4>
                            <p>정보보호학과 / 11학번</p>
                            <p class="social-link">
                                <%= link_to image_tag("facebook.png"), "http://www.facebook.com/wooseok.lim.54" %>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="row">
                <div class="col-md-3 col-sm-12">
                    <div class="media wow fadeInUp" data-wow-delay="1.8s">
                        <div class="media-object pull-left"><%= image_tag 'jjh.jpg' %></div>
                        <div class="media-body">
                            <h4 class="media-heading">정준혁</h4>
                            <p>정보보호학과 / 11학번</p>
                            <p class="social-link">
                                <%= link_to image_tag("facebook.png"), "http://www.facebook.com/junhyeok22" %>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">멋쟁이사자처럼 at 건양대학교</h2>
                    <hr class="primary">
                    <p>멋쟁이 사자처럼에 대해 궁금하신 점이 있으시면 아래로 연락주세요. 건양대 학생 운영진이 직접 답변해드립니다.</p>
                </div>
                <div class="col-lg-4 col-lg-offset-2 text-center">
                    <%= image_tag 'facebook.png' %>
                    <p><a href="https://www.facebook.com/likelionatky">https://www.facebook.com/likelionatky</a></p>
                </div>
                <div class="col-lg-4 text-center">
                    <%= image_tag 'email.png' %>
                    <p><a href="https://www.messenger.com/t/likelionatky/">https://www.messenger.com/t/likelionatky/</a></p>
                </div>
            </div>
        </div>
    </section>
    </body>
</html>
